@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
* {
    box-sizing: border-box;
}
html {
    background-color: #0d0d0d;
}
.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease; 
}
.reveal.active {
    transform: translateY(0);
    opacity: 1;
}
.drop {
    display: inline-block;
    color: salmon;
    background-color: #0d0d0d00;
    border-radius: 10px;
    border-color: #ffffff00;
    font-size: 24px;
    padding: 10px;
}
.drop:hover {
    color: #D9D9D9;
}
#dropdown {
    position: relative;
    display: inline-block;
}
#dropdown:hover .menu-content {
    display: block;
}
.menu-content {
    display: none;
    position: absolute;
    background-color: #595959;
    min-width: 160px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.menu-content a {
    color: #D9D9D9;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Figtree', sans-serif;
}
.menu-content a:hover {
    text-decoration: underline;
}
#arrow p {
    color: salmon;
    font-size: 24px;
    position: absolute;
    left: -40vw;
    -webkit-animation: slide 1s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 1s forwards;
    animation-delay: 2s;
    font-family: 'Figtree', sans-serif;
}

body {
    perspective: 500px;
}
#spinner1 {
    text-align: center;
    animation-name: spinY, depth;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    color: salmon;
    font-family: 'Silkscreen', cursive;
}
#cookie {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    border-radius: 7px;
    margin-bottom: 6%;
    animation: fadeIn ease 4s;
    animation-iteration-count: 1;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 7px;
    
}
.text {
    color: #D9D9D9;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-top: 4rem;
    font-family: 'Figtree', sans-serif;
}
section ul {
    list-style: none;
    color: #D9D9D9;
    margin-left: 33vw;
}
section ul li {
    font-family: 'Figtree', sans-serif;
}
footer {
    height: 100px;
    width: 99.03vw;
    text-align: center;
    position: absolute;
    background-color: salmon;
    margin: 0;
    
}
footer a, footer p {
    text-decoration: none;
    color: #D9D9D9;
    font-family: 'Figtree', sans-serif;
}
footer a:hover {
    text-decoration: underline;
}
@keyframes spinY {
    from { transform: rotateY(0deg); }
    to { transform: rotateY(-360deg); }
}
@keyframes spinX {
    from { transform: rotateY(0deg); }
    to { transform: rotateX(-360deg); }
}
@keyframes depth {
    0% { text-shadow: 0 0 salmon; }
    25% { text-shadow: 1px 0 black, 2px 0 black, 3px 0 black, 4px 0 black, 5px 0 black; }
    50% { text-shadow: 0 0 black; }
    75% { text-shadow: -1px 0 black, -2px 0 black, -3px 0 black, -4px 0 black, -5px 0 black; }
    100% { text-shadow: 0 0 black; }
}
@keyframes fadeIn{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}